<!DOCTYPE html>
<html>

<head>
    <title>Estofaria Xingú</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="carregamento">
                <h3 id="textocarregamento"></h3>
            </div>
            <div class="popup-content">
                <h3 class="popupcolors"><strong>UPDATE</strong></h3>
                <form class="form" id="parâmetrosupdate" action="/parâmetrosupdate">
                    <div class="inputs">
                        Item: <input type="text" name="novoitem" id="novoitem" class="poppupforminputtext">
                        Valor: <input name="novovalor" type="number" id="novovalor" step=".01"  class="poppupforminputnumber" required="" maxlength="10" size="4">
                        <input type="hidden" name="item" id="item">
                        <input type="hidden" name="valor" id="valor">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="confirmar">Confirmar</button>
                        <button type="submit" class="cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
            <div class="popup-delete">
                <h3 class="popupcolors"><strong>VOCÊ REALMENTE DESEJA DELETAR?</strong></h3>
                <form class="delete" id="parâmetrosdelete" action="/parâmetrosdelete">
                    <div id="inputs">
                        <input type="hidden" name="itemdelete" id="itemdelete">
                        <input type="hidden" name="valordelete" id="valordelete">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="deletar">SIM</button>
                        <button type="submit" class="cancelar" id="cancelar">NÃO</button>
                    </div>
                </form>
            </div>
            <div class="popup-adicionar">
                <h3 class="popupcolors"><strong>ADICIONAR</strong></h3>
                <form class="form" id="parâmetrosadicionar" action="/parâmetrosadicionar">
                    <div class="inputs">
                        Item: <input type="text" name="itemadicionar" id="itemadicionar" class="poppupforminputtext">
                        Valor: <input name="valoradicionar" type="number" id="valoradicionar" step=".01"  class="poppupforminputnumber" required="" maxlength="10" size="4">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="adicionar">Confirmar</button>
                        <button type="submit" class="cancelar" id="cancelaradd">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" onclick="Mudarestado('menu')" class="button-icon-menu"><input type="image"
            src="{{url_for('static', filename='menu-icon.png')}}" width="100%" height="100%" /></button>
    <div class="main">
        <div class="menu" id="menu">
            <div class="menu_div_button">
                <a href='/'><button type="submit" class="menu_button"> Calculadora </button></a>
                <a href='/historico_calculadora'><button type="submit" class="menu_button_selecionado"> Histórico de Dados </button></a>
                <a href='/custovariavelgeral'><button type="submit" class="menu_button">Custo Variável Geral</button></a>
                <a href='/frete'><button type="submit" class="menu_button"> Frete </button></a>
                <a href='/itemsadicionais'><button type="submit" class="menu_button"> Itens Adicionais </button></a>
                <a href='/parâmetros'><button type="submit" class="menu_button"> Parâmetros </button></a>
                <a href='/tecido'><button type="submit" class="menu_button"> Tecidos </button></a>
                <a href='/usuarios'><button type="submit" class="menu_button"> Usuários </button></a>
            </div>
        </div>

        <div class="tela" id="tela">
            <div class="barra-menu">
                <h4 id="titulo"> {{usuario_nome}} </h4>
                <button type="button" class="button-icon-menu" onclick="window.location.href='/logout'"><input type="image" src="{{url_for('static', filename='logout.png')}}" width="100%" height="80%" /></button>
            </div>
            <div class="teladados">
                <div class="tela-nome">
                    <h3 id="tela-nome">Histórico de dados</h3>
                    <button type="button" class="adicionarbutton">adicionar</button>
                </div>
                <form class="form">
                    <input type="text" class="buscador" id="filtro" placeholder="Buscar..." />
                    <div class="tabela">
                        <div class="scroll">
                            <table class="table">
                                <thead>
                                    {% for head in historicos_calculadora_heading %}
                                    <tr>
                                        <th>{{head}}</th>
                                    </tr>
                                    {%endfor%}
                                </thead>
                                <tbody id="filtrando">
                                    {% for quantidade in historicos_calculadora_data %}
                                    <tr>
                                        <td id="A{{loop.index-1}}">{{historicos_calculadora_data[loop.index-1]}}</td>
                                        <td id="B{{loop.index-1}}">{{historicos_calculadora_usuario[loop.index-1]}}</td>
                                        <td id="C{{loop.index-1}}">{{historicos_calculadora_mdo_hr_preparacao[loop.index-1]}}</td>
                                        <td id="D{{loop.index-1}}">{{historicos_calculadora_mdo_valor_preparacao[loop.index-1]}}</td>
                                        <td id="E{{loop.index-1}}">{{historicos_calculadora_mdo_hr_costura[loop.index-1]}}</td>
                                        <td id="F{{loop.index-1}}">{{historicos_calculadora_mdo_valor_costura[loop.index-1]}}</td>
                                        <td id="G{{loop.index-1}}">{{historicos_calculadora_mdo_hr_estofamento[loop.index-1]}}</td>
                                        <td id="H{{loop.index-1}}">{{historicos_calculadora_mdo_valor_estofamento[loop.index-1]}}</td>
                                        <td id="I{{loop.index-1}}">{{historicos_calculadora_mdo_valor_geral[loop.index-1]}}</td>
                                        <td id="J{{loop.index-1}}">{{historicos_calculadora_mdo_percentual_hr[loop.index-1]}}</td>
                                        <td id="K{{loop.index-1}}">{{historicos_calculadora_mdo_total_valor[loop.index-1]}}</td>
                                        <td id="L{{loop.index-1}}">{{historicos_calculadora_tipo_tecido[loop.index-1]}}</td>
                                        <td id="M{{loop.index-1}}">{{historicos_calculadora_qtd_tecido[loop.index-1]}}</td>
                                        <td id="N{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_tecido[loop.index-1]}}</td>
                                        <td id="M{{loop.index-1}}">{{historicos_calculadora_valor_cliente_tecido[loop.index-1]}}</td>
                                        <td id="O{{loop.index-1}}">{{historicos_calculadora_qtd_espuma_1[loop.index-1]}}</td>
                                        <td id="P{{loop.index-1}}">{{historicos_calculadora_altura_espuma_1[loop.index-1]}}</td>
                                        <td id="Q{{loop.index-1}}">{{historicos_calculadora_largura_espuma_1[loop.index-1]}}</td>
                                        <td id="R{{loop.index-1}}">{{historicos_calculadora_comprimento_espuma_1[loop.index-1]}}</td>
                                        <td id="S{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_espuma_1[loop.index-1]}}</td>
                                        <td id="T{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_cliente_1[loop.index-1]}}</td>
                                        <td id="U{{loop.index-1}}">{{historicos_calculadora_qtd_espuma_2[loop.index-1]}}</td>
                                        <td id="V{{loop.index-1}}">{{historicos_calculadora_altura_espuma_2[loop.index-1]}}</td>
                                        <td id="W{{loop.index-1}}">{{historicos_calculadora_largura_espuma_2[loop.index-1]}}</td>
                                        <td id="X{{loop.index-1}}">{{historicos_calculadora_comprimento_espuma_2[loop.index-1]}}</td>
                                        <td id="Y{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_espuma_2[loop.index-1]}}</td>
                                        <td id="Z{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_cliente_2[loop.index-1]}}</td>
                                        <td id="A{{loop.index-1}}">{{historicos_calculadora_qtd_espuma_3[loop.index-1]}}</td>
                                        <td id="B{{loop.index-1}}">{{historicos_calculadora_altura_espuma_3[loop.index-1]}}</td>
                                        <td id="C{{loop.index-1}}">{{historicos_calculadora_largura_espuma_3[loop.index-1]}}</td>
                                        <td id="D{{loop.index-1}}">{{historicos_calculadora_comprimento_espuma_3[loop.index-1]}}</td>
                                        <td id="E{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_espuma_3[loop.index-1]}}</td>
                                        <td id="F{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_cliente_3[loop.index-1]}}</td>
                                        <td id="F{{loop.index-1}}">{{historicos_calculadora_qtd_espuma_4[loop.index-1]}}</td>
                                        <td id="G{{loop.index-1}}">{{historicos_calculadora_altura_espuma_4[loop.index-1]}}</td>
                                        <td id="H{{loop.index-1}}">{{historicos_calculadora_largura_espuma_4[loop.index-1]}}</td>
                                        <td id="I{{loop.index-1}}">{{historicos_calculadora_comprimento_espuma_4[loop.index-1]}}</td>
                                        <td id="J{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_espuma_4[loop.index-1]}}</td>
                                        <td id="K{{loop.index-1}}">{{historicos_calculadora_valor_estofaria_cliente_4[loop.index-1]}}</td>
                                        <td id="L{{loop.index-1}}">{{historicos_calculadora_valor_total_estofaria_espuma[loop.index-1]}}</td>
                                        <td id="M{{loop.index-1}}">{{historicos_calculadora_valor_total_cliente_espuma[loop.index-1]}}</td>
                                        <td id="N{{loop.index-1}}">{{historicos_calculadora_status_impermeabilizacao[loop.index-1]}}</td>
                                        <td id="O{{loop.index-1}}">{{historicos_calculadora_valor_impermeabilizacao[loop.index-1]}}</td>
                                        <td id="P{{loop.index-1}}">{{historicos_calculadora_frete_bairro[loop.index-1]}}</td>
                                        <td id="Q{{loop.index-1}}">{{historicos_calculadora_valor_frete[loop.index-1]}}</td>
                                        <td id="R{{loop.index-1}}">{{historicos_calculadora_valor_socializado[loop.index-1]}}</td>
                                        <td id="S{{loop.index-1}}">{{historicos_calculadora_item_adicional_1[loop.index-1]}}</td>
                                        <td id="T{{loop.index-1}}">{{historicos_calculadora_qtd_adicional_1[loop.index-1]}}</td>
                                        <td id="U{{loop.index-1}}">{{historicos_calculadora_valor_adicional_1[loop.index-1]}}</td>
                                        <td id="V{{loop.index-1}}">{{historicos_calculadora_item_adicional_2[loop.index-1]}}</td>
                                        <td id="W{{loop.index-1}}">{{historicos_calculadora_qtd_adicional_2[loop.index-1]}}</td>
                                        <td id="X{{loop.index-1}}">{{historicos_calculadora_valor_adicional_2[loop.index-1]}}</td>
                                        <td id="Y{{loop.index-1}}">{{historicos_calculadora_item_adicional_3[loop.index-1]}}</td>
                                        <td id="Z{{loop.index-1}}">{{historicos_calculadora_qtd_adicional_3[loop.index-1]}}</td>
                                        <td id="A{{loop.index-1}}">{{historicos_calculadora_valor_adicional_3[loop.index-1]}}</td>
                                        <td id="B{{loop.index-1}}">{{historicos_calculadora_valor_total_item_adicional[loop.index-1]}}</td>
                                        <td id="C{{loop.index-1}}">{{historicos_calculadora_custo_fixo[loop.index-1]}}</td>
                                        <td id="D{{loop.index-1}}">{{historicos_calculadora_custo_variavel_estofaria[loop.index-1]}}</td>
                                        <td id="E{{loop.index-1}}">{{historicos_calculadora_custo_variavel_cliente[loop.index-1]}}</td>
                                        <td id="F{{loop.index-1}}">{{historicos_calculadora_total_estofaria[loop.index-1]}}</td>
                                        <td id="G{{loop.index-1}}">{{historicos_calculadora_total_cliente[loop.index-1]}}</td>
                                        <td id="H{{loop.index-1}}">{{historicos_calculadora_percentual_calculado[loop.index-1]}}</td>
                                        <td id="I{{loop.index-1}}">{{historicos_calculadora_percentual_margem_alvo[loop.index-1]}}</td>
                                        <td id="J{{loop.index-1}}">{{historicos_calculadora_preco_alvo[loop.index-1]}}</td>
                                        <td id="{{loop.index-1}}" onclick="updatebutton(this.id)"><input type="button" class="updatebutton" value="Enviar email"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        // Esconder ou aparecer o menu
        function Mudarestado(el) {
            var display = document.getElementById(el).style.display;
            if (display == "block")
                document.getElementById(el).style.display = 'none';
            else
                document.getElementById(el).style.display = 'block';
        }

        // Filtro da tabela
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#filtrando tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function updatebutton(id) {
            item = $('#A' + id).text();
            valor = $('#B' + id).text();
            $('#item').val(item);
            $('#valor').val(valor);
            $('#novoitem').val(item);
            $('#novovalor').val(valor);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        };

        function deletebutton(id) {
            itemdelete = $('#A' + id).text();
            valordelete = $('#B' + id).text();
            $('#itemdelete').val(itemdelete);
            $('#valordelete').val(valordelete);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '28%';
        };

        const adicionarbutton = document.querySelector('.adicionarbutton')
        adicionarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'block';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        });

        //botão cancelar do popup update
        const cancelarbutton = document.querySelector('.cancelar')
        cancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosupdate').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup delete
        const deletecancelarbutton = document.querySelector('#cancelar')
        deletecancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosdelete').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup update
        const adicionarcancelarbutton = document.querySelector('#cancelaradd')
        adicionarcancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosadicionar').onsubmit = function () {
                return false;
            }
        });

        //botão confirmar do popup
        const confirmarbutton = document.querySelector('.confirmar')
        confirmarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-content');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Atualizando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('parâmetrosupdate').onsubmit = function () {
                return true;
            }
        });

        const deletarbutton = document.querySelector('.deletar')
        deletarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-delete');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Deletando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('parâmetrosdelete').onsubmit = function () {
                return true;
            }
        });

    </script>
</body>

</html>