<!DOCTYPE html>
<html>

<head>
    <title>Estofaria Xingú</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>
    <button type="button" onclick="Mudarestado('menu')" class="button-icon-menu"><input type="image"
            src="{{url_for('static', filename='menu-icon.png')}}" width="100%" height="100%" /></button>
    <div class="main">
        <div class="menu" id="menu">
            <div class="menu_div_button">
                <a href='/'><button type="submit" class="menu_button_selecionado"> Calculadora </button></a>
                <a href='/custovariavelgeral'><button type="submit" class="menu_button">Custo Variável Geral</button></a>
                <a href='/frete'><button type="submit" class="menu_button"> Frete </button></a>
                <a href='/itemsadicionais'><button type="submit" class="menu_button"> Itens Adicionais </button></a>
                <a href='/parâmetros'><button type="submit" class="menu_button"> Parâmetros </button></a>
                <a href='/tecido'><button type="submit" class="menu_button"> Tecidos </button></a>
            </div>
        </div>

        <div class="tela" id="tela">
            <div class="barra-menu">
                <h4 id="titulo"> Estofaria Xingú </h4>
            </div>
            <div class="teladados">
                <div class="tela-nome">
                    <h3 id="tela-nome">Calculadora</h3>
                </div>
                <div class="tela-calculadora">
                    <div class="tela-1">
                        <p class="tela-titulo">Mão de Obra</p>
                        <form class="formulario1">
                            <div class="inline">
                                <c>PREPARAÇÃO:</c>                                
                                <select class="form-control" id="hrpreparação" onchange="resultadovalorpreparação()"> 
                                    <option value="00:00">00:00</option>
                                    <option value="00:30">00:30</option>
                                    <option value="01:00">01:00</option>
                                    <option value="01:30">01:30</option>
                                    <option value="02:00">02:00</option>
                                    <option value="02:30">02:30</option>
                                    <option value="03:00">03:00</option>
                                    <option value="03:30">03:30</option>
                                    <option value="04:00">04:00</option>
                                    <option value="04:30">04:30</option>
                                    <option value="05:00">05:00</option>
                                    <option value="05:30">05:30</option>
                                    <option value="06:00">06:00</option>
                                    <option value="06:30">06:30</option>
                                    <option value="07:00">07:00</option>
                                    <option value="07:30">07:30</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                                    <option value="22:30">22:30</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                    <option value="24:00">24:00</option>
                                    <option value="24:30">24:30</option>
                                    <option value="25:00">25:00</option>
                                    <option value="25:30">25:30</option>
                                    <option value="26:00">26:00</option>
                                    <option value="26:30">26:30</option>
                                    <option value="27:00">27:00</option>
                                    <option value="27:30">27:30</option>
                                    <option value="28:00">28:00</option>
                                    <option value="28:30">28:30</option>
                                    <option value="29:00">29:00</option>
                                    <option value="29:30">29:30</option>
                                    <option value="30:00">30:00</option>
                                </select>
                            </div>
                            <p>Valor preparação: <b id="valorpreparação"></b></p>
                            <div class="inline">
                                <c>COSTURA:</c> 
                                <select class="form-control" id="hrcostura" onchange="resultadovalorcostura()"> 
                                    <option value="00:00">00:00</option>
                                    <option value="00:30">00:30</option>
                                    <option value="01:00">01:00</option>
                                    <option value="01:30">01:30</option>
                                    <option value="02:00">02:00</option>
                                    <option value="02:30">02:30</option>
                                    <option value="03:00">03:00</option>
                                    <option value="03:30">03:30</option>
                                    <option value="04:00">04:00</option>
                                    <option value="04:30">04:30</option>
                                    <option value="05:00">05:00</option>
                                    <option value="05:30">05:30</option>
                                    <option value="06:00">06:00</option>
                                    <option value="06:30">06:30</option>
                                    <option value="07:00">07:00</option>
                                    <option value="07:30">07:30</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                                    <option value="22:30">22:30</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                    <option value="24:00">24:00</option>
                                    <option value="24:30">24:30</option>
                                    <option value="25:00">25:00</option>
                                    <option value="25:30">25:30</option>
                                    <option value="26:00">26:00</option>
                                    <option value="26:30">26:30</option>
                                    <option value="27:00">27:00</option>
                                    <option value="27:30">27:30</option>
                                    <option value="28:00">28:00</option>
                                    <option value="28:30">28:30</option>
                                    <option value="29:00">29:00</option>
                                    <option value="29:30">29:30</option>
                                    <option value="30:00">30:00</option>
                                </select>
                            </div>
                            <p>Valor costura: <b id="valorcostura"></b></p>
                            <div class="inline">
                                <c>ESTOFAMENTO:</c> 
                                <select class="form-control" id="hrestofamento" onchange="resultadovalorestofamento()"> 
                                    <option value="00:00">00:00</option>
                                    <option value="00:30">00:30</option>
                                    <option value="01:00">01:00</option>
                                    <option value="01:30">01:30</option>
                                    <option value="02:00">02:00</option>
                                    <option value="02:30">02:30</option>
                                    <option value="03:00">03:00</option>
                                    <option value="03:30">03:30</option>
                                    <option value="04:00">04:00</option>
                                    <option value="04:30">04:30</option>
                                    <option value="05:00">05:00</option>
                                    <option value="05:30">05:30</option>
                                    <option value="06:00">06:00</option>
                                    <option value="06:30">06:30</option>
                                    <option value="07:00">07:00</option>
                                    <option value="07:30">07:30</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                    <option value="21:00">21:00</option>
                                    <option value="21:30">21:30</option>
                                    <option value="22:00">22:00</option>
                                    <option value="22:30">22:30</option>
                                    <option value="23:00">23:00</option>
                                    <option value="23:30">23:30</option>
                                    <option value="24:00">24:00</option>
                                    <option value="24:30">24:30</option>
                                    <option value="25:00">25:00</option>
                                    <option value="25:30">25:30</option>
                                    <option value="26:00">26:00</option>
                                    <option value="26:30">26:30</option>
                                    <option value="27:00">27:00</option>
                                    <option value="27:30">27:30</option>
                                    <option value="28:00">28:00</option>
                                    <option value="28:30">28:30</option>
                                    <option value="29:00">29:00</option>
                                    <option value="29:30">29:30</option>
                                    <option value="30:00">30:00</option>
                                </select>
                            </div>
                            <p>Valor estofamento: <b id="valorestofamento"></b></p>
                            <div class="inline">
                                <p>Valor geral: <b id="valorgeralmãodeobra"></b></p>
                                <p>% horas: <b id="percentualhorasmãodeobra"></b></p>
                                <p>Total: <b id="valortotalmãodeobra"></b></p>
                            </div>
                        </form>
                    </div>
                    <div class="tela-2">
                        <form class="formulario2">
                            <p class="tela-titulo">Tecido</p>
                            <div class="inline">
                                <c>Escolha o tipo de tecido:</c>                                
                                <select class="form-control" id="tipotecido" onchange="resultadopreçocustotecido()"> 
                                    {% for tecido in listatecidos %}
                                        <option value="{{loop.index-1}}">{{tecido}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadetecido" class="form-control" required="" maxlength="10" size="4" onchange="resultadopreçocustotecido()">
                            </div>
                            <div class="inline">
                                <!-- <p>Preço estofaria: <b id="preçoestofaria"></b></p>
                                <p>Preço cliente: <b id="preçoestofariacliente"></b></p> -->
                                <p>Valor estofaria: <b id="valorestofaria"></b></p>
                            </div>
                            <div class="inline">
                                <p>Valor cliente: <b id="valorestofariacliente"></b></p>
                            </div>
                            <p class="tela-titulo">Espumas</p>
                            <div>
                                <input type="image" class="buttonespumas" src="{{url_for('static', filename='icon +.png')}}">
                                <input type="image" class="buttonespumas" src="{{url_for('static', filename='icon -.png')}}">
                            </div>
                            <div class="inline">
                                <c>Quantidade espuma: </c>
                                <input type="number" id="quantidadeespuma1" class="form-control" required="" maxlength="10" size="4" onchange="resultadopreçocustoespuma(1)">
                            </div>
                            <div class="inline">
                                <c>Altura: </c>
                                <input type="number" id="altura1" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(1)">
                            </div>
                            <div class="inline">
                                <c>Largura: </c>
                                <input type="number" id="largura1" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(1)">
                            </div>
                            <div class="inline">
                                <c>Comprimento: </c>
                                <input type="number" id="comprimento1" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(1)">
                            </div>
                            <div class="inline">
                                <p>Valor estofaria: <b id="valorestofariaespuma1"></b></p>
                            </div>
                            <div class="inline">
                                <p>Valor cliente: <b id="valorclienteespuma1"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Quantidade espuma: </c>
                                <input type="number" id="quantidadeespuma2" class="form-control" required="" maxlength="10" size="4" onchange="resultadopreçocustoespuma(2)">
                            </div>
                            <div class="inline">
                                <c>Altura: </c>
                                <input type="number" id="altura2" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(2)">
                            </div>
                            <div class="inline">
                                <c>Largura: </c>
                                <input type="number" id="largura2" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(2)">
                            </div>
                            <div class="inline">
                                <c>Comprimento: </c>
                                <input type="number" id="comprimento2" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(2)">
                            </div>
                            <div class="inline">
                                <p>Valor estofaria: <b id="valorestofariaespuma2"></b></p>
                            </div>
                            <div class="inline">
                                <p>Valor cliente: <b id="valorclienteespuma2"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Quantidade espuma: </c>
                                <input type="number" id="quantidadeespuma3" class="form-control" required="" maxlength="10" size="4" onchange="resultadopreçocustoespuma(3)">
                            </div>
                            <div class="inline">
                                <c>Altura: </c>
                                <input type="number" id="altura3" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(3)">
                            </div>
                            <div class="inline">
                                <c>Largura: </c>
                                <input type="number" id="largura3" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(3)">
                            </div>
                            <div class="inline">
                                <c>Comprimento: </c>
                                <input type="number" id="comprimento3" class="form-control" required="" step=".01" maxlength="10" size="4" onchange="resultadopreçocustoespuma(3)">
                            </div>
                            <div class="inline">
                                <p>Valor estofaria: <b id="valorestofariaespuma3"></b></p>
                            </div>
                            <div class="inline">
                                <p>Valor cliente: <b id="valorclienteespuma3"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <p>Valor total estofaria: <b id="valortotalestofariaespuma"></b></p>
                            </div>
                            <div class="inline">
                                <p>Valor total cliente: <b id="valortotalclienteespuma"></b></p>
                            </div>
                            <p class="tela-titulo">Impermeabilização</p>
                            <div class="inline">
                                <p>Valor: <b id="valorimpermeabilização"></b></p>
                            </div>
                            <p class="tela-titulo">Frete</p>
                            <div class="inline">
                                <c>Escolha o bairro:</c>                                
                                <select class="form-control" id="bairro" onchange="resultadovalorfrete()"> 
                                    {% for bairro in listabairro %}
                                        <option value="{{loop.index-1}}">{{bairro}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <p>Valor frete: <b id="valorfrete"></b></p>
                            </div>
                            <p class="tela-titulo">Socializado</p>
                            <div class="inline">
                                <p>Valor: <b id="socializado"></b></p>
                            </div>
                            <p class="tela-titulo">Adicionais</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional1" onchange="resultadovaloritemadicional(1)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional1" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(1)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional1"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional2" onchange="resultadovaloritemadicional(2)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional2" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(2)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional2"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional3" onchange="resultadovaloritemadicional(3)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional3" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(3)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional3"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional4" onchange="resultadovaloritemadicional(4)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional4" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(4)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional4"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional5" onchange="resultadovaloritemadicional(5)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional5" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(5)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional5"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <c>Escolha o item adicional:</c>                                
                                <select class="form-control" id="itemadicional6" onchange="resultadovaloritemadicional(6)"> 
                                    {% for item in listaitensadicionais %}
                                        <option value="{{loop.index-1}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inline">
                                <c>Quantidade: </c>
                                <input type="number" id="quantidadeitemadicional6" class="form-control" required="" maxlength="10" size="4" onchange="resultadovaloritemadicional(6)">
                            </div>
                            <div class="inline">
                                <p>Valor: <b id="valoritemadicional6"></b></p>
                            </div>
                            <p class="tela-titulo">---</p>
                            <div class="inline">
                                <p>Valor total: <b id="valortotalitemadicional"></b></p>
                            </div>
                        </form>
                    </div>
                    <div class="tela-3">
                        <form class="formulario3">
                            <p class="tela-titulo">Custo fixo</p>
                            <div class="inline">
                                <p>Fixo: <b id="valortotalmãodeobra"></b></p>
                            </div>
                            <p class="tela-titulo">Custo variável</p>
                            <div class="inline">
                                <p>Variável estofaria: <b id="valorvariavelestofaria"></b></p>
                            </div>
                            <div class="inline">
                                <p>Variável cliente: <b id="valorvariavelcliente"></b></p>
                            </div>
                            <p class="tela-titulo">Total</p>
                            <div class="inline">
                                <p>Total estofaria: <b id="valortotalvariavelestofaria"></b></p>
                            </div>
                            <div class="inline">
                                <p>Total cliente: <b id="valortotalvariavelcliente"></b></p>
                            </div>
                            <p class="tela-titulo">Preço</p>
                            <div class="inline">
                                <p>Calculado %: <b id="resultadopercentualcalculado"></b></p>
                            </div>
                            <div class="inline">
                                <c>Margem alvo: </c>
                                <input type="number" id="margemalvo" class="form-control" required="" maxlength="10" size="4" onchange="resultadoscusto()">
                            </div>
                            <div class="inline">
                                <p>Preço alvo: <b id="preçoalvo"></b></p>
                            </div>
                            <!-- <div class="inline">
                                <p>% Alvo: <b id="resultadopercentualpreçoalvo"></b></p>
                            </div> -->
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        window.onload = function carregarparametros() {
            $('#valorestofariaespuma'+1).val(0)
            $('#valorestofariaespuma'+2).val(0)
            $('#valorestofariaespuma'+3).val(0)
            $('#valorclienteespuma'+1).val(0)
            $('#valorclienteespuma'+2).val(0)
            $('#valorclienteespuma'+3).val(0)
            parseFloat($('#valoritemadicional'+1).val(0))
            parseFloat($('#valoritemadicional'+2).val(0))
            parseFloat($('#valoritemadicional'+3).val(0))
            parseFloat($('#valoritemadicional'+4).val(0))
            parseFloat($('#valoritemadicional'+5).val(0))
            parseFloat($('#valoritemadicional'+6).val(0))
            totaltempopreparação = 0
            totaltempocostura = 0
            totaltempoestofamento = 0
            valorimpermeabilização = 0 
            valorestofaria = 0
            valorestofariacliente = 0
            valortotalestofariaespuma = 0
            valortotalclienteespuma = 0 
            valortotalitemadicional = 0 
            valortotalmãodeobra = 0
            valorfrete = 0 
            socializado = 0
            idbairro = $('#bairro').val()
            listavalorfrete = JSON.parse("{{listavalorfrete}}")
            $('#valorfrete').empty().append(listavalorfrete[idbairro])
        }
        // Esconder ou aparecer o menu
        function Mudarestado(el) {
            var display = document.getElementById(el).style.display;
            if (display == "block")
                document.getElementById(el).style.display = 'none';
            else
                document.getElementById(el).style.display = 'block';
        }

        function resultadovalorpreparação(){
            hrpreparação = $('#hrpreparação').val().split(':')
            totaltempopreparação = (parseFloat(hrpreparação[0]) + parseFloat(hrpreparação[1]/60))
            valorpreparação = (totaltempopreparação * parseFloat("{{valor_hora_preparação}}")).toFixed(2)
            $('#valorpreparação').empty().append('R$ ' + valorpreparação);
            resultadomãodeobra(valorpreparação, valorcostura, valorestofamento, totaltempopreparação, totaltempocostura, totaltempoestofamento)
            resultadoscusto()
        }

        function resultadovalorcostura(){
            hrcostura = $('#hrcostura').val().split(':')
            totaltempocostura = (parseFloat(hrcostura[0]) + parseFloat(hrcostura[1]/60)) 
            valorcostura = (totaltempocostura * parseFloat("{{valor_hora_costura}}")).toFixed(2)
            $('#valorcostura').empty().append('R$ ' + valorcostura)
            resultadomãodeobra(valorpreparação, valorcostura, valorestofamento, totaltempopreparação, totaltempocostura, totaltempoestofamento)
            resultadoscusto()
        }

        function resultadovalorestofamento(){
            hrestofamento = $('#hrestofamento').val().split(':')
            totaltempoestofamento = (parseFloat(hrestofamento[0]) + (parseFloat(hrestofamento[1]/60)))
            valorestofamento = (totaltempoestofamento * parseFloat("{{valor_hora_estofamento}}")).toFixed(2)
            $('#valorestofamento').empty().append('R$ ' + valorestofamento);
            resultadomãodeobra(valorpreparação, valorcostura, valorestofamento, totaltempopreparação, totaltempocostura, totaltempoestofamento)
            resultadoscusto()
        }

        function resultadomãodeobra(valortotalpreparação, valortotalcostura, valortotalestofamento, totaltempopreparação, totaltempocostura, totaltempoestofamento){
            percentualcustofixogeral = parseFloat("{{custo_fixo_geral}}") / parseFloat("{{custo_fixo_total}}")
            valorgeralmãodeobra = (((parseFloat(valortotalpreparação) + parseFloat(valortotalcostura) + parseFloat(valortotalestofamento)) * percentualcustofixogeral) / (1 - percentualcustofixogeral)).toFixed(2)
            $('#valorgeralmãodeobra').empty().append('R$ ' + valorgeralmãodeobra)
            percentualhorasmãodeobra = ((parseFloat(totaltempopreparação + parseFloat(totaltempocostura) + parseFloat(totaltempoestofamento))/ parseFloat("{{horas_trabalhadas}}")).toFixed(4) * 100 )
            percentualhorasmãodeobra = percentualhorasmãodeobra.toFixed(2) + "%"
            $('#percentualhorasmãodeobra').empty().append(percentualhorasmãodeobra)
            valortotalmãodeobra = (parseFloat(valortotalpreparação) + parseFloat(valortotalcostura) + parseFloat(valortotalestofamento) + parseFloat(valorgeralmãodeobra)).toFixed(2)
            $('#valortotalmãodeobra').empty().append('R$ ' + valortotalmãodeobra)
            custovariavelgeralacumuladomes = "{{custovariavelgeralacumuladomes}}"
            socializado = ((parseFloat(custovariavelgeralacumuladomes) * parseFloat(percentualhorasmãodeobra)) / 100).toFixed(2) 
            $('#socializado').empty().append(socializado)
            resultadoscusto()
        }

        function resultadopreçocustotecido(){
            tipotecido = $('#tipotecido').val()
            listapreçocustotecido = JSON.parse("{{listapreçocustotecido}}")
            listapreçoclientetecido = JSON.parse("{{listapreçoclientetecido}}")
            $('#preçoestofaria').empty().append(listapreçocustotecido[tipotecido])
            $('#preçoestofariacliente').empty().append(listapreçoclientetecido[tipotecido])
            resultadovalorestofaria(listapreçocustotecido[tipotecido])
            resultadovalorcliente(listapreçoclientetecido[tipotecido])
            resultadopreçoimpermeabilização()
            resultadoscusto()
        }

        function resultadovalorestofaria(preçocustotecido){
            valorestofaria = (parseFloat(preçocustotecido) * parseFloat($('#quantidadetecido').val())).toFixed(2)
            $('#valorestofaria').empty().append('R$ ' + valorestofaria)
            resultadoscusto()
        }

        function resultadovalorcliente(preçoclientetecido){
            valorestofariacliente = (parseFloat(preçoclientetecido) * parseFloat($('#quantidadetecido').val())).toFixed(2)
            $('#valorestofariacliente').empty().append('R$ ' + valorestofariacliente)
            resultadoscusto()
        }

        function resultadopreçocustoespuma(ordemespuma){
            largura = parseFloat($('#largura'+ordemespuma).val()) 
            altura = parseFloat($('#altura'+ordemespuma).val())
            comprimento = parseFloat($('#comprimento'+ordemespuma).val())
            quantidadeespuma = parseFloat($('#quantidadeespuma'+ordemespuma).val())
            largurapadrãoespuma = parseFloat("{{largura_padrão_espuma}}")
            preçoestofariaespuma = parseFloat("{{preço_estofaria_espumas}}")
            preçoclienteespuma = parseFloat("{{preço_cliente_espumas}}")
            valorestofariaespuma = (quantidadeespuma * (altura * preçoestofariaespuma * comprimento / largurapadrãoespuma * largura)).toFixed(2)
            valorclienteespuma = (quantidadeespuma * ( altura * preçoclienteespuma * comprimento / largurapadrãoespuma * largura)).toFixed(2)
            $('#valorestofariaespuma'+ordemespuma).empty().append('R$ ' + valorestofariaespuma)
            $('#valorestofariaespuma'+ordemespuma).val(valorestofariaespuma)
            $('#valorclienteespuma'+ordemespuma).empty().append('R$ ' + valorclienteespuma)
            $('#valorclienteespuma'+ordemespuma).val(valorclienteespuma)
            valortotalestofariaespuma =  (parseFloat($('#valorestofariaespuma'+1).val()) + parseFloat($('#valorestofariaespuma'+2).val()) + parseFloat($('#valorestofariaespuma'+3).val())).toFixed(2)
            valortotalclienteespuma = (parseFloat($('#valorclienteespuma'+1).val()) + parseFloat($('#valorclienteespuma'+2).val()) + parseFloat($('#valorclienteespuma'+3).val())).toFixed(2)
            $('#valortotalestofariaespuma').empty().append('R$ ' + valortotalestofariaespuma)
            $('#valortotalclienteespuma').empty().append('R$ ' + valortotalclienteespuma)
            resultadoscusto()
        }
        
        function resultadopreçoimpermeabilização(){
            preçoimpermeabilização = parseFloat("{{preço_impermeabilização}}")
            quantidadetecido = parseFloat($('#quantidadetecido').val())
            valorimpermeabilização = (preçoimpermeabilização * quantidadetecido).toFixed(2)
            $('#valorimpermeabilização').empty().append('R$ ' + valorimpermeabilização)
            resultadoscusto()
        }

        function resultadovalorfrete(){
            idbairro = $('#bairro').val()
            listavalorfrete = JSON.parse("{{listavalorfrete}}")
            valorfrete = listavalorfrete[idbairro]
            $('#valorfrete').empty().append('R$ ' + valorfrete)
            resultadoscusto()
        }

        function resultadovaloritemadicional(ordemitem){
            quantidadeitemadicional = parseFloat($('#quantidadeitemadicional'+ordemitem).val())  
            iditem = $('#itemadicional'+ordemitem).val()
            valorunitarioitensadicionais = JSON.parse("{{valorunitarioitensadicionais}}")
            valoritemadicional = (parseFloat(valorunitarioitensadicionais[iditem]) * quantidadeitemadicional).toFixed(2)
            $('#valoritemadicional'+ordemitem).empty().append('R$ ' + valoritemadicional)
            $('#valoritemadicional'+ordemitem).val(valoritemadicional)
            valoritemadicional1 = parseFloat($('#valoritemadicional'+1).val())
            valoritemadicional2 = parseFloat($('#valoritemadicional'+2).val())
            valoritemadicional3 = parseFloat($('#valoritemadicional'+3).val())
            valoritemadicional4 = parseFloat($('#valoritemadicional'+4).val())
            valoritemadicional5 = parseFloat($('#valoritemadicional'+5).val())
            valoritemadicional6 = parseFloat($('#valoritemadicional'+6).val())
            valortotalitemadicional =  (valoritemadicional1+valoritemadicional2+valoritemadicional3+valoritemadicional4+valoritemadicional5+valoritemadicional6).toFixed(2)
            $('#valortotalitemadicional').empty().append('R$ ' + valortotalitemadicional)
            resultadoscusto()
        }

        function resultadoscusto(){
            valorvariavelestofaria = (parseFloat(valorimpermeabilização) + parseFloat(valorestofaria) + parseFloat(valortotalestofariaespuma) + parseFloat(valortotalitemadicional) + parseFloat(valorfrete) + parseFloat(socializado)).toFixed(2)
            $('#valorvariavelestofaria').empty().append('R$ ' + valorvariavelestofaria)
            valorvariavelcliente = (parseFloat(valorimpermeabilização) + parseFloat(valorestofariacliente) + parseFloat(valortotalclienteespuma) + parseFloat(valortotalitemadicional) + parseFloat(valorfrete) + parseFloat(socializado)).toFixed(2)
            $('#valorvariavelcliente').empty().append('R$ ' + valorvariavelcliente)
            valortotalvariavelestofaria = ( parseFloat(valorvariavelestofaria) + parseFloat(valortotalmãodeobra) ).toFixed(2)
            $('#valortotalvariavelestofaria').empty().append('R$ ' + valortotalvariavelestofaria)
            valortotalvariavelcliente =  ( parseFloat(valorvariavelcliente) + parseFloat(valortotalmãodeobra) ).toFixed(2)
            $('#valortotalvariavelcliente').empty().append('R$ ' + valortotalvariavelcliente)
            resultadopercentualcalculado = ((( parseFloat(valortotalvariavelcliente) / parseFloat(valortotalvariavelestofaria) )-1)*100).toFixed(2)
            $('#resultadopercentualcalculado').empty().append(resultadopercentualcalculado + '%')
            margemalvo = $('#margemalvo').val()
            preçoalvo = (parseFloat(valortotalvariavelestofaria) + (parseFloat(valortotalvariavelestofaria)*parseFloat(margemalvo))).toFixed(2)
            $('#preçoalvo').empty().append('R$ ' + preçoalvo)
            // resultadopercentualpreçoalvo = (((parseFloat(preçoalvo) / parseFloat(valortotalvariavelestofaria))- 1)*100).toFixed(2)
            // $('#resultadopercentualpreçoalvo').empty().append(resultadopercentualpreçoalvo +'%')
        }

    </script>
</body>

</html>