<!DOCTYPE html>
<html>

<head>
    <title>Estofaria Xingú</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="carregamento">
                <h3 id="textocarregamento"></h3>
            </div>
            <div class="popup-content">
                <h3 class="popupcolors"><strong>UPDATE</strong></h3>
                <form class="form" id="parâmetrosupdate" action="/parâmetrosupdate">
                    <div class="inputs">
                        Item: <input type="text" name="novoitem" id="novoitem" class="poppupforminputtext">
                        Valor: <input name="novovalor" type="number" id="novovalor" class="poppupforminputnumber" required="" maxlength="10" size="4">
                        <input type="hidden" name="item" id="item">
                        <input type="hidden" name="valor" id="valor">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="confirmar">Confirmar</button>
                        <button type="submit" class="cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
            <div class="popup-delete">
                <h3 class="popupcolors"><strong>VOCÊ REALMENTE DESEJA DELETAR?</strong></h3>
                <form class="delete" id="parâmetrosdelete" action="/parâmetrosdelete">
                    <div id="inputs">
                        <input type="hidden" name="itemdelete" id="itemdelete">
                        <input type="hidden" name="valordelete" id="valordelete">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="deletar">SIM</button>
                        <button type="submit" class="cancelar" id="cancelar">NÃO</button>
                    </div>
                </form>
            </div>
            <div class="popup-adicionar">
                <h3 class="popupcolors"><strong>ADICIONAR</strong></h3>
                <form class="form" id="parâmetrosadicionar" action="/parâmetrosadicionar">
                    <div class="inputs">
                        Item: <input type="text" name="itemadicionar" id="itemadicionar" class="poppupforminputtext">
                        Valor: <input name="valoradicionar" type="number" id="valoradicionar" class="poppupforminputnumber" required="" maxlength="10" size="4">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="adicionar">Confirmar</button>
                        <button type="submit" class="cancelar" id="cancelaradd">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" onclick="Mudarestado('menu')" class="button-icon-menu"><input type="image"
            src="{{url_for('static', filename='menu-icon.png')}}" width="100%" height="100%" /></button>
    <div class="main">
        <div class="menu" id="menu">
            <div class="menu_div_button">
                <a href='/'><button type="submit" class="menu_button"> Calculadora </button></a>
                <a href='/custovariavelgeral'><button type="submit" class="menu_button">Custo Variável Geral</button></a>
                <a href='/frete'><button type="submit" class="menu_button"> Frete </button></a>
                <a href='/itemsadicionais'><button type="submit" class="menu_button"> Itens Adicionais </button></a>
                <a href='/parâmetros'><button type="submit" class="menu_button_selecionado"> Parâmetros </button></a>
                <a href='/tecido'><button type="submit" class="menu_button"> Tecidos </button></a>
            </div>
        </div>

        <div class="tela" id="tela">
            <div class="barra-menu">
                <h4 id="titulo"> Estofaria Xingú </h4>
            </div>
            <div class="teladados">
                <div class="tela-nome">
                    <h3 id="tela-nome">Parâmetros</h3>
                    <button type="button" class="adicionarbutton">adicionar</button>
                </div>
                <form class="form">
                    <input type="text" class="buscador" id="filtro" placeholder="Buscar..." />
                    <div class="tabela">
                        <div class="scroll">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Valor</th>
                                        <th width="20px"></th>
                                        <th width="20px"></th>
                                    </tr>
                                </thead>
                                <tbody id="filtrando">
                                    {% for quantidade in parâmetrositem %}
                                    <tr>
                                        <td id="A{{loop.index-1}}">{{parâmetrositem[loop.index-1]}}</td>
                                        <td id="B{{loop.index-1}}">{{parâmetrosvalor[loop.index-1]}}</td>
                                        <td id="{{loop.index-1}}" onclick="updatebutton(this.id)"><input type="button"
                                                class="updatebutton" value="update"></td>
                                        <td id="{{loop.index-1}}" onclick="deletebutton(this.id)"><input type="button"
                                                class="deletebutton" value="delete"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        // Esconder ou aparecer o menu
        function Mudarestado(el) {
            var display = document.getElementById(el).style.display;
            if (display == "block")
                document.getElementById(el).style.display = 'none';
            else
                document.getElementById(el).style.display = 'block';
        }

        // Filtro da tabela
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#filtrando tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function updatebutton(id) {
            item = $('#A' + id).text();
            valor = $('#B' + id).text();
            $('#item').val(item);
            $('#valor').val(valor);
            $('#novoitem').val(item);
            $('#novovalor').val(valor);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        };

        function deletebutton(id) {
            itemdelete = $('#A' + id).text();
            valordelete = $('#B' + id).text();
            $('#itemdelete').val(itemdelete);
            $('#valordelete').val(valordelete);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '28%';
        };

        const adicionarbutton = document.querySelector('.adicionarbutton')
        adicionarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'block';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        });

        //botão cancelar do popup update
        const cancelarbutton = document.querySelector('.cancelar')
        cancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosupdate').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup delete
        const deletecancelarbutton = document.querySelector('#cancelar')
        deletecancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosdelete').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup update
        const adicionarcancelarbutton = document.querySelector('#cancelaradd')
        adicionarcancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('parâmetrosadicionar').onsubmit = function () {
                return false;
            }
        });

        //botão confirmar do popup
        const confirmarbutton = document.querySelector('.confirmar')
        confirmarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-content');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Atualizando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('parâmetrosupdate').onsubmit = function () {
                return true;
            }
        });

        const deletarbutton = document.querySelector('.deletar')
        deletarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-delete');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Deletando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('parâmetrosdelete').onsubmit = function () {
                return true;
            }
        });

    </script>
</body>

</html>