<!DOCTYPE html>
<html>

<head>
    <title>Estofaria Xingú</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>

<body>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="carregamento">
                <h3 id="textocarregamento"></h3>
            </div>
            <div class="popup-content">
                <h3 class="popupcolors"><strong>UPDATE</strong></h3>
                <form class="form" id="usuariosupdate" action="/usuariosupdate">
                    <div class="inputs">
                        Senha: <input type="text" name="novosenha" id="novosenha" class="poppupforminputtext">
                        Nome: <input type="text" name="novonome" id="novonome" class="poppupforminputtext">
                        Admin: <select type="text" name="novoadmin" id="novoadmin" class="poppupforminputtext">
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                        Email: <input type="text" name="novoemail" id="novoemail" class="poppupforminputtext">
                        <input type="hidden" name="usuario" id="usuario">
                        <input type="hidden" name="senha" id="senha">
                        <input type="hidden" name="nome" id="nome">
                        <input type="hidden" name="admin" id="admin">
                        <input type="hidden" name="email" id="email">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="confirmar">Confirmar</button>
                        <button type="submit" class="cancelar">Cancelar</button>
                    </div>
                </form>
            </div>
            <div class="popup-delete">
                <h3 class="popupcolors"><strong>VOCÊ REALMENTE DESEJA DELETAR?</strong></h3>
                <form class="delete" id="usuariosdelete" action="/usuariosdelete">
                    <div id="inputs">
                        <input type="hidden" name="usuariodelete" id="usuariodelete">
                        <input type="hidden" name="senhadelete" id="senhadelete">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="deletar">SIM</button>
                        <button type="submit" class="cancelar" id="cancelar">NÃO</button>
                    </div>
                </form>
            </div>
            <div class="popup-adicionar">
                <h3 class="popupcolors"><strong>ADICIONAR</strong></h3>
                <form class="form" id="usuariosadicionar" action="/usuariosadicionar">
                    <div class="inputs">
                        Usuario: <input type="text" name="usuarioadicionar" id="usuarioadicionar"
                            class="poppupforminputtext">
                        Senha: <input type="text" name="senhaadicionar" id="senhaadicionar" class="poppupforminputtext">
                        Nome: <input type="text" name="nomeadicionar" id="nomeadicionar" class="poppupforminputtext">
                        Admin: <select type="text" name="adminadicionar" id="adminadicionar"
                            class="poppupforminputtext">
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                        Email: <input type="text" name="emailadicionar" id="emailadicionar" class="poppupforminputtext">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="adicionar" id="confirmaradd">Confirmar</button>
                        <button type="submit" class="cancelar" id="cancelaradd">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" onclick="Mudarestado('menu')" class="button-icon-menu"><input type="image"
            src="{{url_for('static', filename='menu-icon.png')}}" width="100%" height="100%" /></button>
    <div class="main">
        <div class="menu" id="menu">
            <div class="menu_div_button">
                <a href='/'><button type="submit" class="menu_button"> Calculadora </button></a>
                <a href='/custovariavelgeral'><button type="submit" class="menu_button">Custo Variável
                        Geral</button></a>
                <a href='/frete'><button type="submit" class="menu_button"> Frete </button></a>
                <a href='/itemsadicionais'><button type="submit" class="menu_button"> Itens Adicionais </button></a>
                <a href='/parâmetros'><button type="submit" class="menu_button"> Parâmetros </button></a>
                <a href='/tecido'><button type="submit" class="menu_button"> Tecidos </button></a>
                <a href='/usuarios'><button type="submit" class="menu_button_selecionado"> Usuários </button></a>
            </div>
        </div>

        <div class="tela" id="tela">
            <div class="barra-menu">
                <h4 id="titulo"> Estofaria Xingú </h4>
            </div>
            <div class="teladados">
                <div class="tela-nome">
                    <h3 id="tela-nome">Usuarios</h3>
                    <button type="button" class="adicionarbutton">adicionar</button>
                </div>
                <form class="form">
                    <input type="text" class="buscador" id="filtro" placeholder="Buscar..." />
                    <div class="tabela">
                        <div class="scroll">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Senha</th>
                                        <th>Nome</th>
                                        <th>Admin</th>
                                        <th>Email</th>
                                        <th width="20px"></th>
                                        <th width="20px"></th>
                                    </tr>
                                </thead>
                                <tbody id="filtrando">
                                    {% for quantidade in usuario %}
                                    <tr>
                                        <td id="A{{loop.index-1}}">{{usuario[loop.index-1]}}</td>
                                        <td id="B{{loop.index-1}}">{{senha[loop.index-1]}}</td>
                                        <td id="C{{loop.index-1}}">{{nome[loop.index-1]}}</td>
                                        <td id="D{{loop.index-1}}">{{admin[loop.index-1]}}</td>
                                        <td id="E{{loop.index-1}}">{{email[loop.index-1]}}</td>
                                        <td id="{{loop.index-1}}" onclick="updatebutton(this.id)"><input type="button"
                                                class="updatebutton" value="update"></td>
                                        <td id="{{loop.index-1}}" onclick="deletebutton(this.id)"><input type="button"
                                                class="deletebutton" value="delete"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        // Esconder ou aparecer o menu
        function Mudarestado(el) {
            var display = document.getElementById(el).style.display;
            if (display == "block")
                document.getElementById(el).style.display = 'none';
            else
                document.getElementById(el).style.display = 'block';
        }

        // Filtro da tabela
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#filtrando tr").filter(function () {
                    $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function updatebutton(id) {
            usuario = $('#A' + id).text();
            senha = $('#B' + id).text();
            nome = $('#C' + id).text();
            admin = $('#D' + id).text();
            email = $('#E' + id).text();
            $('#usuario').val(usuario);
            $('#senha').val(senha);
            $('#nome').val(nome);
            $('#admin').val(admin);
            $('#email').val(email);
            $('#novousuario').val(usuario);
            $('#novosenha').val(senha);
            $('#novonome').val(nome);
            $('#novoadmin').val(admin);
            $('#novoemail').val(email);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        };

        function deletebutton(id) {
            usuariodelete = $('#A' + id).text();
            senhadelete = $('#B' + id).text();
            $('#usuariodelete').val(usuariodelete);
            $('#senhadelete').val(senhadelete);
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'block';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'none';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '28%';
        };

        const adicionarbutton = document.querySelector('.adicionarbutton')
        adicionarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'block';
            const popupdelete = document.querySelector('.popup-delete');
            popupdelete.style.display = 'none';
            const popupupdate = document.querySelector('.popup-content');
            popupupdate.style.display = 'none';
            const popupadicionar = document.querySelector('.popup-adicionar');
            popupadicionar.style.display = 'block';
            const popupprincipal = document.querySelector('.popup');
            popupprincipal.style.height = '55%';
        });

        //botão cancelar do popup update
        const cancelarbutton = document.querySelector('.cancelar')
        cancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('usuariosupdate').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup delete
        const deletecancelarbutton = document.querySelector('#cancelar')
        deletecancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('usuariosdelete').onsubmit = function () {
                return false;
            }
        });

        //botão cancelar do popup add
        const adicionarcancelarbutton = document.querySelector('#cancelaradd')
        adicionarcancelarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-wrapper');
            popup.style.display = 'none';
            document.getElementById('usuariosadicionar').onsubmit = function () {
                return false;
            }
        });

        //botão confirmar do popup update
        const confirmarbutton = document.querySelector('.confirmar')
        confirmarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-content');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Atualizando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('usuariosupdate').onsubmit = function () {
                return true;
            }
        });

        //botão confirmar do popup adicionar
        const adicionarconfirmarbutton = document.querySelector('#confirmaradd')
        adicionarconfirmarbutton.addEventListener('click', () => {
            const lista_usuario = { usuario }
            novo_usuario = $('#usuarioadicionar').val()
            if (lista_usuario.includes(novo_usuario)) {
                console.log('usuario ja existe!')
                return false;
            }else{
                console.log('usuario nao existe!')
                return false;
            }
        });


        const deletarbutton = document.querySelector('.deletar')
        deletarbutton.addEventListener('click', () => {
            const popup = document.querySelector('.popup-delete');
            popup.style.display = 'none';
            $('#textocarregamento').empty().append("Deletando dados, aguarde...");
            const carregamento = document.querySelector('.carregamento');
            carregamento.style.display = 'block';
            document.getElementById('usuariosdelete').onsubmit = function () {
                return true;
            }
        });
    </script>
</body>

</html>